<a href="https://colab.research.google.com/github/JamesHop31/ADVANCED_DATA_VISUALIZATION_MIDTERM_EXAM.ipynb/blob/main/ADVANCED_DATA_VISUALIZATION_MIDTERM_EXAM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name = input("What is your name? ")
print("Hello", name.capitalize())
age = input("How old are you? ")
print("You are", age, "years old")

What is your name? james
Hello James
How old are you? 23
You are 23 years old

In [ ]:
s = "pizza"
t = s.capitalize()

print(t)

Pizza

In [ ]:
s = "pizza"
t = s.upper()

print(t)

PIZZA

In [ ]:
s = "pizza"
t = s.lower()
print(t)

pizza

In [ ]:
name = "Read"
name.replace('R' , 'P'). replace('d' , 'l')

'Peal'

In [ ]:
a = 2
b = 3
c = 2.3
d = True
type(a), type(b), type (c), type(d)

(int, int, float, bool)

In [ ]:
name = input("What is your name?")
print(f"Hello {name}!")
birth_year = input("What is your birth year?")        
birth_year = int(birth_year)
print(f"You are {(2023-birth_year)} years old!")

What is your name?james
Hello james!
What is your birth year?2000
You are 23 years old!

In [ ]:
s1=input("Enter the first number: ")
s2=input("Enter the second number: ")
Add= float(s1)+float(s2)
print('Sum: {1} + {1} = {2}'.format(s1, s2, Add))
Subtract= float(s1)-float(s2)
print('Difference: {1} - {1} = {2}'.format(s1, s2, Subtract))
Multiply= float(s1)*float(s2)
print('Product: {1} * {1} = {2}'.format(s1, s2, Multiply))
Divide= float(s1)/float(s2)
print('Quotient: {1} / {1} = {2}'.format(s1, s2, Divide))
Exponent= float(s1)**float(s2)
print('Power: {1} ** {1} = {2}'.format(s1, s2, Exponent))
Remainder= float(s1)%float(s2)
print('Division with Remainder: {0} / {1} = 0.0\\n Remainder: {2}'.format(s1, s2, Remainder))

Enter the first number: 5
Enter the second number: 4
Sum: 4 + 4 = 9.0
Difference: 4 - 4 = 1.0
Product: 4 * 4 = 20.0
Quotient: 4 / 4 = 1.25
Power: 4 ** 4 = 625.0
Division with Remainder: 5 / 4 = 0.0\n Remainder: 1.0

In [1]:
if 5 + 10:
  print("5 and 10 is not equal")

5 and 10 is not equal

In [5]:
choice = int(input("Enter your choice:"))
print("Enter two numbers: ")
num1 = float(input())
num2 = float(input())

Enter your choice:15
Enter two numbers:
2
3

In [6]:
if choice == 1:
  res = num1 + num2
  print("Result = ", res)
elif choice == 2:
  res = num1 - num2
  print("Result = ", res)
elif choice == 3:
  res = num1 * num2
  print("Result = ", res)
elif choice == 4:
  res = num1 / num2
  print("Result = ", res)
elif choice == 5:
  exit()
else:
  print("Wrong output")

Wrong output

In [7]:
thislist = ["apple", "banana", "cherry"]

print("thislist['cherry']")

thislist['cherry']

In [8]:
thislist = ["apple", "blackcurrant", "cherry"]
thislist[1] = "blackcurrant"

print(thislist)

['apple', 'blackcurrant', 'cherry']

In [9]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [10]:
x = [7, 4, 3, 2, 5]
x.remove(5)
print(x)

[7, 4, 3, 2]

In [11]:
z = [7, 5, 3, 3]
print(z.pop(1))
print(z)

5
[7, 3, 3]

In [12]:
x = [1, 2, 3]
x.extend([4,5])
print(x)

[1, 2, 3, 4, 5]

In [13]:
z = [1, 2, 3, 4, 5]
z.insert(4, [1, 2])
print(z)

[1, 2, 3, 4, [1, 2], 5]

In [14]:
import numpy
lst = [1, 7, 0, 6, 2, 5, 6]
arr = numpy.asarray(lst)
("1,7,0,6,2,5,6", lst)
("numpy: ", arr)
arr1 = numpy.asarray(arr)
("arr: " , arr1)
arr1[3] = 23
("lst: " , lst) 
("arr1: " , arr1)

('arr1: ', array([ 1,  7,  0, 23,  2,  5,  6]))